/* src/pages/PageStyles.css */
.beers-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* 上部に余白を追加 */
}

.beer-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 80%;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.beer-image {
  width: 50px;
  height: auto;
  margin-right: 20px;
}

.beer-info {
  flex: 1;
  text-align: left; /* テキストを左寄せ */
}

.beer-info h2 {
  margin: 0;
  font-size: 20px;
  font-weight: bold; /* タイトルを太文字 */
}

.beer-info p {
  margin: 5px 0;
}

.beer-info p strong {
  font-weight: bold; /* 太文字 */
}

.beer-info a {
  color: #00bfff;
  text-decoration: none;
}
